body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.pages{
  min-height: calc(100vh - 56px);
  background-color: #1D1D21;
}

div#root{
  background-color: #1D1D21;
}

.fixed-top {
  background-color: #2D2D2D;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
      opacity: 1;
  }
}

.textapperanimation{
  animation-name: appear;
  animation-duration: 1s;
}



.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
    color: white; 
} 

div.card-deck{
  margin: 0;
}

div.horizontal{
  display: flex;
  flex-wrap: wrap;
}

.dropdown-menu.show {
  background-color: #343a40;
}

a.dropdown-item{
  color: white; 
}

a.dropdown-item:active{
  background-color: #1D1D21;
}

.card-body{
  background-color: #1D1D21;
}

a.iconlink{
  opacity:0.5
}

a.iconlink:hover{
  opacity:1
}

.oneremfontsize{
  font-size: 1rem;
}

p.card-text{
  font-size: 25px;
}

h1.title{
  padding-top: 10%;
}

.lpten{
  padding-left :10%;
}

.rpten{
  padding-right :10%;
}

.tptwo{
  padding-top: 2%;
}

.btten{
  padding-bottom: 10%;
}

.whitetext{
  color: white;
}

.puplurtext{
  color: #E2C7FF;
}

.lightbluetext{
  color: #33C7E2;
}

.pinktext{
  color: #FF74AF;
}

.greentext{
  color: #ACF083;
}

.picutre{
  max-width: 70%;
  max-height: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: .4rem solid #fff;
}
